table#cells {
  margin-bottom: 0px;
}

table#cells td {
  text-align: center;
  font-weight: bold;
}

h3.first {
  margin-top: 0px;
}

input#output {
  margin-bottom: 10px;
}

div.reference {
  background-color: #fff;
  border: #fff;
}

dt {
  width: auto !important;
}

dd {
  margin-left: 20px !important;
}